body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF
}

a {
    text-decoration: none
}

ul, ol{
    list-style: none;
}


.logo {
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5
}



.logo > .studio{
  color:#2e2f42;
}



address{
  font-style: normal
}
.address{
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #2E2F42;
}

.mailto{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-item {

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2E2F42;
  }

  .nav-item:hover{
    color: #404bbf ;
  }

  .nav-item:focus{
    color: #404bbf
  }

  .nav-item:active{
    text-decoration: underline;
  }

  .ppp{
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    color:#434455
  }
 
 .hero {
        font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
        background-color: #2E2F42; 
        color: white
      }

      .hero > .heroo{
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff
      
      }
  
      .button{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: rgb(255, 255, 255);
        background-color: #4D5AE5;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer
      }

      button:hover{
        background-color: #404BBF;
      }

      button:focus{
        background-color: #404BBF;
      }

      .contacts{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        line-height: 1.50;
        letter-spacing: 0.02em;
        color:#434455;
      }

      .contacts:hover{
        color: #404bbf ;
      }

      .contacts:focus{
        color:#404bbf 
      }

      .text{
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 1.50;
        font-weight: 400;
        font-style: normal;
        color: #2E2F42;
      }

      .hhh{
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        font-weight: 500;
        font-style: normal;
        color: #2e2f42;
      }


      .section-p{
        line-height: 1.5 ;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        letter-spacing: 0.02em;
        font-weight: 500;
        font-style: normal;
        color:#434455;
      }

      .team{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color:#2E2F42;
        text-transform: capitalize
      }

  .name-h{
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;

      }

      .img{
        background-color: #FFFFFF
      }
      .teams{
       color:#4444a5
      }
      .team-section {
        background-color: #F4F4FD;

      }
      
      
      .team-section h3.name {
        font-size: 20px;
        font-weight: 700;
      }
      
  
      .team-section > .name{
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:#2e2f42;
        font-size: 20px
      }


.app{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2e2f42
}

.app-class{
  font-size: 16px;
  font-size: 16px;
  letter-spacing: 0.02em;
  color:#434455;
  line-height: 1.5
}

.footer{
  background-color:#2e2f42
}

.footer > .par{
  color:#F4F4FD;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em
}

.footer > .logo-footer{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#4d5ae5;
}
.footer > .logo-footer > .studio-span{
  color: #f4f4fd
}